<!-- extends layout

block content
  h1= title
  p Welcome to #{title} -->

<%- include('./partials/header') %>
<div id="container-homepage">
<h3>
  This Web application My Anime List uses CRUD (Create, Read, Update, Delete) functionalities to help users to manage and track the animes.
</h3>
<br>
<h3>Add Animes </h3>
<p>
  Adding the anime’s title, and release year, and setting the status(Watching, Watched, Not Start, Skip) into the list to manage the collected animes. The animes’ information can be deleted and updated. 
</p>
<h3>Animes’s details</h3>
<p>
  In Animes’s detail, users can add the characters to the animes, and leave the review and rating.
</p>
<h3>Add Characters</h3>
<p>
  Users can add the animes’ name and bio.
</p>

</div>

<%- include('./partials/footer') %>