<%- include('../partials/header') %>

<form id="new-form" action="/animes" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Release Year:</label>
  <input type="text" name="releaseYear">
  <label>Status</label>
  <select name="status">
    <option value="Watching">Watching</option>
    <option value="Watched">Watched</option>
    <option value="Not Start">Not Start</option>
    <option value="Skip it">Skip it</option>
  </select>
 
  <input type="submit" value="Add Anime">
</form>


<%- include('../partials/footer') %>