<%- include('../partials/header') %>

<section >
  <div class="character-list">
    <div >
      <% characters.forEach(function(c) { %>
        <article class="badge"><%= c.name %></article>
      <% }) %>
    </div>

  <div class="form  form-character" >
      <form id="" action="/characters" method="POST">
        <label>Name:</label>
        <input type="text" name="name">
        <label>Bio:</label>
        <input type="text" name="bio">
        <input type="submit" value="Add character">
      </form>
  </div>
</div>
</section>
<%- include('../partials/footer') %>