


<%- include('../partials/header') %>

<section >

    <article class="badge"><%= character.name %></article>
    <article class="badge"><%= character.bio%></article>
</section>


<%- include('../partials/footer') %>